@import "../../variables.scss";
@import "../../mixins.scss";

.container {
  display: flex;
  flex-direction: column;
  background: #222222;
  height: 80vh;
  box-sizing: border-box;
  border-radius: 5px;
  color: white;
  padding: 15px;
  overflow-y: auto;

  @include scroll;
}

.componentName {
  width: 100%;
  margin-top: 10px;
  margin-bottom: $mb-16;
}

.componentNameLine {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}

.styleLine {
  width: stretch;
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 0px 16px 0px;
}

.moduleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.propsContainer {
  width: stretch;
  box-sizing: border-box;
  margin-bottom: $mb-16;
  position: relative;
  overflow: visible;
}

.controlsRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: baseline;
  width: stretch;
}

.controlsRow:not(:last-child) {
  margin-bottom: $mb-12;
}

.rowItem {
  margin-right: $mb-10;
  position: relative;
  width: 100%;
}

.propsItems {
  padding: 16px 10px 16px 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: stretch;
  max-width: 100%;
  background: $grey2;
  box-sizing: border-box;
  overflow-y: auto;
  position: relative;
  overflow: visible;
  border: 1px solid black;
  border-top: none;
}

.effectsSwitchRow {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  margin-bottom: $mb-16;
  animation: 1.2s ease 0s show;
  transition: all 0.8s ease;
}

.effectsSwitchRow > p {
  margin: 0;
  margin-left: 10px;
}

.divider {
  width: stretch;
  border-top: 1px solid black;
}

.chipsContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 10px;
  overflow-x: auto;
}

.chipsContainer {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.chipsContainer::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
