@import "../../variables.scss";
.btn {
  background-color: $primary;
  width: auto;
  height: auto;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
  aspect-ratio: 1;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:hover {
  background-color: $hover;
}

.btn:disabled {
  background-color: $disabled;
  color: white;
  cursor: not-allowed;
}
