@mixin scroll {
  /* width */
  &::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #222222;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #a1a1a1;
    border-radius: 5px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #bababa;
  }
}
