$primary: #2350dd; //React logo color
$hover: #1d40b0;
// $active: #69bee0;
// $focus: #b0edfd;
$disabled: #8899aa;

$white: #fff;
$black: #000;

$background: #0b090a;
$background-light: #222222;
$background-dark: #0b090a;
$background-hover: #1a1618;
$background-active: #0b090a;
$background-focus: #0b090a;
$background-disabled: #0b090a;

$sass: #cc6699;
$css: #264de4;

//Greys
$grey3: #313131;
$grey2: #212121;

//others
$purple: #edb5ff;

//Margins
$mb-16: 16px;
$mb-12: 12px;
$mb-10: 10px;
