$primary: #61dbfb; //React logo color
$hover: #a0e9fd;
$active: #69bee0;
$focus: #b0edfd;
$disabled: #d0e6f7;

$background: #0b090a;
$background-light: #222222;
$background-dark: #0b090a;
$background-hover: #1a1618;
$background-active: #0b090a;
$background-focus: #0b090a;
$background-disabled: #0b090a;

$sass: #cc6699;
$css: #264de4;

//Margins
$mb-16: 16px;
$mb-12: 12px;
$mb-10: 10px;
