.container {
  width: 100%;
  border-radius: 100px;
  position: relative;
  height: 32px;
  background-color: aqua;
  padding: 5px;
}

.switchToggle {
  background-color: white;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}

.switchLeft {
  margin-left: 5px;
  left: 0;
}

.switchRight {
  margin-right: 5px;
  right: 0;
}
