.title {
  text-align: center;
  height: 96px;
  min-height: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.container {
  padding: 0px 0px 30px 30px;
  width: stretch;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  width: stretch;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
  height: calc(100% - 96px - 40px);
  margin-bottom: 40px;
}

.componentDetail {
  width: 275px;
  min-width: 275px;
  margin-right: 40px;
  height: 100%;
}
