@import "../../variables.scss";
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 18px;
  border-radius: 100px;
  background: $sass;
  padding: 5px;
  cursor: pointer;
}

.container:not(:last-child) {
  margin-right: 10px;
}

.container:hover {
  background: $primary;
}

.container:hover > .chipRemoveBtn {
  background: #a6a6a6;
  border: 1px solid #a6a6a6;
}

.chipRemoveBtn {
  width: 14px;
  height: 14px;
  border-radius: 100%;
  border: 1px solid #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  padding: 2px;
  cursor: pointer;
  background: $white;
  color: $black;
}

.label {
  font-size: 12px;
  font-weight: bold;
  color: $white;
  line-height: normal;
  margin: 0;
}
