@import "../variables.scss";

.container {
  width: 100%;
  background-color: #121212;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: calc(100% - 64px);
}

.leftSide {
  height: -webkit-fill-available;
  margin-bottom: 64px;
  width: 30%;
  padding-left: 30px;
  padding-right: 30px;
}

.rightSide {
  height: -webkit-fill-available;
  width: 80%;
  margin: 0 20px 64px 20px;
}

.checkboxesContainer {
  display: flex;
  padding: 10px 10px 10px 0px;
  color: white;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
}

.propertyPanelContainer {
  width: 100%;
  height: 100%;
}
