@import "../../variables.scss";

.input {
  height: 30px;
  outline: none;
  border-radius: 4px;
  width: 100%;
  padding: 0;
  border: none;
}

input:focus {
  box-shadow: 0 0 0 0.2rem linear-gradient(135deg, #cc6699, #264de4);
  transition: background-color 0.2s, color 0.2s, border-color 0.2s,
    box-shadow 0.2s;
}
