@import "../../variables.scss";

.input {
  height: 32px;
  outline: none;
  border: 1px solid $primary;
  border-radius: 4px;
  width: 100%;
  padding: 0;
}

.input:hover {
  background: $hover;
}

.input:active {
  background: $active;
}

.input:focus {
  outline: 1px solid $focus;
}
