@import "../../variables.scss";

.container {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: $white;
  cursor: pointer;
  font-weight: 300;
}

.containerExpanded {
  width: 100%;
}

.containerExpanded:hover {
  padding-left: 5px;
}

.containerCollapsed {
  @extend .container;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.container:hover {
  background: $primary;
  color: $white;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}

.title {
  margin-top: auto;
  margin-bottom: auto;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
