@import "../variables.scss";
@import "../mixins.scss";

.sidebarContainer {
  height: 100vh;
  background-color: #121212;
  padding-left: 20px;
  padding-right: 20px;
  border-right: 1px solid #bdbdbd;
  overflow-y: auto;
  @include scroll;
}

.expandedContainer {
  @extend .sidebarContainer;
  min-width: 15%;
}

.collapsedContainer {
  @extend .sidebarContainer;
  min-width: 32px;
  max-width: 32px;
}

.logoContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 64px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
}

.logoTitle {
  margin: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 29px;
  color: white;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.logoImage {
  width: 25px;
  height: 25px;
  object-fit: cover;
  margin-right: 10px;
}

.codeItemsContainer {
  margin-top: 10px;
  margin-bottom: 10px;
}

.hideArrow {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: $grey3;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: $white;
  position: absolute;
  top: 16px;
  right: 0px;
}

.hideArrow:hover {
  background-color: $primary;
  fill: $white;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
