@import "../../variables.scss";

.container {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: 100px;
}

.toggle {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  border-radius: 50%;
  border-radius: 100px;
  transition: all 0.8s ease;
}

.toggleLeft {
  transform: translate(0%);
  background-color: $css;
}

.toggleRight {
  transform: translateX(100%);
  background-color: $sass;
}

.leftText {
  position: absolute;
  margin: 0;
  width: 50%;
  text-align: center;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
}

.rightText {
  position: absolute;
  margin: 0;
  width: 50%;
  text-align: center;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
}
