.container {
  height: 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  margin-top: auto;
  margin-bottom: auto;
}
